
*{
    padding: 0;
    margin: 0;
}
.dash-tables{
    border: 1px solid black;
    width: 250px;
    height: 200px;
    padding: 20px;
    overflow: scroll;
    .total{
        position: relative;
        top:20%;
        bottom: 0%;
        background-color: bisque;
        .total-font{
            font-size: 25px;
        }
    }
}

